// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    box-sizing: border-box !important;
}

// Canvas
canvas {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body, html {
    margin: 0;
    overflow: hidden;
}

nav.navbar {
    position: fixed;
    width: 100%;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

nav.navbar {
    user-select: none;
}

.offcanvas {
    max-width: 300px;
}

.offcanvas.show {
    visibility: visible;
}

.bg-space {
    background: #00010f;
}

.center {
    display: inline-grid;
    place-items: center;
}

.circle {
    border-radius: 50%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}


.small-icon {
    height: 100%;
    
}

.wrapper {
    overflow: auto;
    max-height: 100vh;
}

::-webkit-scrollbar{
    width:7px;
    overflow: overlay;
} 

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1px;
}

.row {

}
